#player,#player a{ color:#fff;  font-size: 10px; font-family: VERDANA;}
#player{ background:url(http://static.tumblr.com/kwaqeuc/kWem2no0x/volumepaz.png); background-position:bottom; background-color: #000;}
#player .mainImage{ background:url(http://static.tumblr.com/l3gbi5c/Wmlmjtwwh/completpreto.jpg); }

#player #baseLeft{ width:93px; }
#player #baseRight{ width:-145px;}
#player .button{  width:26px; }
#player #play{ background:url(http://static.tumblr.com/l3gbi5c/DKEmjtwxr/pouse.jpg); }
#player #play,#player #pause{ left:26px; }
#player #previous{ left:0px; }
#player #next{ left:52px; }
#player #title{ left:90px;  font-size: 10px; }
#player #tooltip{ right:196px; }
#player #timer{ right:120px;  }
#player #list{ right:0px; }

#player #seeker{ right:320px; }
#player #seekerBase{ border-color:#COR DA BORDA;  }
#player #seekerBuffered{ background-color:#fff; }
#player #seekerSliderBase{ background-color:#000; }

#player #volume{ width:65px; right:39px; }
#player #volumeSlider{ width:8px; background:url(); }

#playlist,#playlist .module,#playlist h3{ border-color:#000;}
#playlist .module{  color:#fff; background-color:#000; }
#playlist h3{ background:url(); color:#fff; background-color:#000;  }
#playlist .even{background-color:#000;}
#playlist .odd{ background-color:#000;}
#playlist .focus{ background-color:#000; color:#fff;}
